<!DOCTYPE html>
<html>
<head ng-app="windows95">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
    <main>
        @RenderBody()
    </main>
    <footer>    
        <nav ng-controller="navigation">

        </nav>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
