<!DOCTYPE html>
<html ng-app="windows95">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
    <main>
        @RenderBody()
    </main>
    <footer ng-controller="navigation">
        <div ng-hide="isOptions">
            
        </div>
        <nav class="navigation border">
            <button ng-click="toggleOptions()" class="homeIcon border">
                <img src="~/src/Assets/images/win95icon.png" draggable="false"/>
                <p>Start</p>
            </button>
        </nav>
    </footer>

    @RenderSection("scripts", required: false)
<script type="text/javascript" src="/dist/bundle.js"></script></body>
</html>
